
  <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom bg-light">
      <div class="container-fluid">
        <h6 class = "display -6 navbar-text">&copy; Copyrigth 2022 All rights reserved <%= title %> page</h1>
      </div>
    </nav>

  </footer>